{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('hello') }}">New</a>
  {% endif %}
{% endblock %}


{% block content %}
  <p>Admin page</p>

  <div>
    <ul>
      {% for track in tracks %}
        <audio controls preload="metadata">
          <source src="{{ track }}" type="audio/mpeg">
        </audio>
      {% endfor %}
    </ul>
  </div>

  <form method="POST" enctype="multipart/form-data">
    <label>Select MP3:</label><br><br>
    <input type="file" name="file" accept=".mp3,audio/mpeg" required>
    <br><br>

    <button type="submit">Upload</button>
  </form>

{% endblock %}
